@import 'variables';

.btn{
    display: inline-block;
    background-color: $neutrals-dark;
    text-decoration: none;
    color: $neutrals-light;
    font-weight: 600;
    padding: $x-small-padding $medium-padding;
    @include border (border);
    border-radius: $btn-radius;
   
    transition: 0.2s;
    white-space: nowrap;
    font-family: $primary-font;
    font-size: 1rem;
    &:hover {
        background-color: $cta; //change plox
        color: $neutrals-dark;
    }
}
.btn-text {
    font-size: 1rem;
    font-family: $primary-font;
    background-color: transparent;
    border: none;
    font-weight: 900;
    color: $neutrals-light;
    text-decoration: none;
}