@import 'variables';
.recipes-cards{
    margin-bottom: $medium-padding;
    .visa-alla-box{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @media (min-width: $desktop-bp) {
            align-items: center;
        }
        .visa-alla{
            color: $neutrals-dark; 
            text-decoration: none;
            border: none;
            transition: 0.1s ease-in-out;
            cursor: pointer;
            font-weight: 500;
        }
        
    }
    .cards-flexbox {
        justify-content: space-between;
        @media (min-width: $tablet-bp) {
            @include flexbox-3(flex-start, wrap);
            gap: 1.2rem;
            justify-content: space-between;
            
        }
        @media (min-width: $desktop-bp) {
            justify-content: space-between;
            
            
        }
    }
    .card{
        position: relative;
        margin-bottom: $x-small-padding;
        border-radius: $primary-border-radius;
        overflow: hidden;
        max-width: 579px;
        
        // height: 340px;
        @include border (border);
        @media (min-width: $tablet-bp) {
            flex: 0 0 calc(100%/2 - 1.2rem);
            margin-bottom: 0;
        }
        @media (min-width: $desktop-bp) {
            max-width: 32%;
            flex: calc(33% - 1.2rem);
        }
        a{
            text-decoration: none;
            cursor: auto;
        }
        .bild-box{
            height: 250px;
            overflow: hidden;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                //height: 100%;
                object-fit: cover;
                //object-position: 50% -48px;
                transition: transform 0.3s ease-in-out; 
            }
            &:hover{
                img{
                    transform: scale(1.05);
                }
            }  

        }
        .card-bg{
            background-color: hotpink; //lmao ändra snälla
            border-radius: $primary-border-radius;
        }
        .card-text{
            background-color: white;
            padding: $x-small-padding;
            color: $neutrals-dark;
           
            p, h3 {
                margin-bottom: $x-small-padding;
            }
           .btn-text{
            cursor: pointer;
            color: $neutrals-dark;
            transition: 0.1s ease-in-out;
            position: relative;
           }
           .btn-text:after {
            content: "";
            position: absolute;
            background-color: $neutrals-dark;
            height: 2px;
            width: 0;
            left: 0;
            bottom: -2px;
            transition: 0.3s;
         }
         .btn-text:hover:after{
            width: 100%;
        }
        }
        .gradient{
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            height: 95px;
            background-color: $neutrals-light;
        }
        
        
    }
   
}
//About us cards
.cards-container {
    @media (min-width: $desktop-bp){
        @include flexbox-4(wrap, space-between, flex-start);
       
    }
    .about-us-card {
        position: relative;
        max-width: 401px;
        &.jennie{
            @media (min-width: $tablet-bp){
               
            }
        }
        &.markus{
            @media (min-width: $tablet-bp){
               margin-top: 8rem;
            }
        }
        &.aim{
            @media (min-width: $tablet-bp){
               
            }
        }
        figure {
            max-width: 243px;
            position: relative;
            @media (min-width: $tablet-bp){
                max-width: 300px;
            }
            @media (min-width: $desktop-bp){
                max-width: 380px;
            }
            .about-us-img {
                width: 100%;
                border-radius: 10px;
                border: 2px solid $neutrals-dark;
            }
        }
        .bad-script {
            position: absolute;
            top: 10px;
            left: 160px;
            &.aim {
                left: 100px;
                @media (min-width: $desktop-bp){
                    top: -50px;
                    transform: rotate(5deg);
                }
            }
            &.markus {
                @media (min-width: $desktop-bp){
                    left: -70px;
                    top: 200px;
                    transform: rotate(-10deg);
                }
            }
            &.jennie {
                @media (min-width: $desktop-bp){
                    transform: rotate(10deg);
                    
                }
            }
            @media (min-width: $tablet-bp){
                left: 200px;
            }
            @media (min-width: $desktop-bp){
                left: 300px;
            }
        }
    }
}