@import 'variables';

#categorys{
    margin-top: $x-small-padding;
    .chip{
        + label{
            display: inline-block;
            @include border (border);
            border-radius: $btn-radius;
            padding: $nano-small-padding $x-small-padding; 
            color: $neutrals-dark;
            font-size: 1rem;
            font-weight: 500;
            user-select: none;
            cursor: pointer;
            transition: 0.3s ease-in-out; 
        }
       
        
        &[type="checkbox"]{
            display: none;
            
            &:hover {
                + label {
                    background-color: $cta;
                    color: $neutrals-dark;
                    
                }
             }
            &:checked {
                + label {
                    background-color: $cta;
                    color: $neutrals-dark;
                }
             }
        }
    }
    
 
}