@import 'mixin', 'variables';

.main-footer{
    background-color: $neutrals-dark;
    padding: $small-padding $x-small-padding; //t, r, b, l
    color: $neutrals-light;
    &.position {
        position: relative;
    }
    .footer-container {
        max-width: $max-width;
        margin: auto;
        .footer-content {
            @media (min-width: $desktop-bp) {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $neutrals-light;
                margin-bottom: $small-padding;
            }
            .p-box {
                @media (min-width: $desktop-bp) {
                    text-align: center;
                }
                .footer-text{
                    font-size: $footer-text;
                }
            }
            figure {
                max-width: 120px;
                height: 43px;
                margin-bottom: 1.75rem;
                @media (min-width: $desktop-bp) {
                    max-width: 140px;
                }
                .footer-logotype {
                    width: 100%;
                    height: 100%;
                }
            }  
            .social-media-container {
                border-bottom: 1px solid $neutrals-light;
                @media (min-width: $desktop-bp) {
                    border-bottom: 0;
                }
                a {
                  
                    .fa {
                        margin-bottom: 1.75rem;
                        
                        font-size: 3rem;
                        color: $neutrals-light;
                        transition: 0.1s ease-in-out; 
                        @media (min-width: $desktop-bp) {
                            font-size: 2rem;
                        }
                    }
                    &:hover{
                        .fa{
                                opacity: 0.7;
                        }
                      
                    } 
                }
            }
        }
        .text_bottom{
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            .footer-text-right {
                @media (min-width: $desktop-bp) {
                    text-align: end;
                }
            }
            .footer-text-left {
                @media (min-width: $desktop-bp) {
                    text-align: start;
                }
                .cookie-settings-button{
                    background-color: transparent;
                    color: $neutrals-light; 
                    font-family: $primary-font;
                    font-size: 1rem;
                    text-decoration: none;
                    border: none;
                    margin-right: 0.5rem;
                    margin-bottom: 0.5rem;
                    padding-bottom: 0.1rem;
                    transition: 0.1s ease-in-out;
                    position: relative;
                    cursor: pointer;
                }
                :after {
                    content: "";
                    position: absolute;
                    background-color: $neutrals-light;
                    height: 2px;
                    width: 0;
                    left: 0;
                    bottom: -1px;
                    transition: 0.3s;
                 }
                :hover:after{
                    width: 100%;
                }
                .integrity{
                    background-color: transparent;
                    color: $neutrals-light; 
                    font-family: $primary-font;
                    font-size: 1rem;
                    text-decoration: none;
                    border: none;
                    padding-bottom: 0.1rem;
                    transition: 0.1s ease-in-out;
                    position: relative;
                }
                a:after {
                    content: "";
                    position: absolute;
                    background-color: $neutrals-light;
                    height: 2px;
                    width: 0;
                    left: 0;
                    bottom: -1px;
                    transition: 0.3s;
                 }
                a:hover:after{
                    width: 100%;
                }
            }
        }
    }
}
.mb {
    margin-bottom: 1.75rem;
    @media (min-width: $desktop-bp) {
        margin-bottom: 0;
    }
}
.smb {
    margin-bottom: $x-small-padding;
    @media (min-width: $desktop-bp) {
        margin-bottom: $nano-small-padding;
    }
}