

.img-pa {
    position: absolute;
    z-index: 10;
    top: 590px;
    width: 80px;
    right: 0;
    @media (min-width: $tablet-bp) {
        display: none;
    }
}
.illustration-container {
    max-width: $max-width;
    height: 100%;
    margin-top: $nano-small-padding;
    margin-bottom: $small-padding;
    @media (min-width: $desktop-bp) {
        margin-bottom: $medium-padding;
    }
    .img-pa2 {
        width: 100%;
        height: auto;
        @media (min-width: $desktop-bp) {
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
    }
}
.recept {
    max-width: $max-width;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    figure {
        position: relative;
        margin-bottom: 8rem;
        max-width: $max-width;
        height: 100%;
        flex: 0 0 100%;
        @media (min-width: $tablet-bp) {
            margin-bottom: 8rem;
        }
        img {
            position: relative;
            left: 0;
            right: 0;
            width: 100%;
            height: 364px;
            object-fit: cover;
            @media (min-width: $desktop-bp) {
                height: 480px;
            }
        }
    }
    header {
        position: absolute;
        top: 380px;
        background-color: $neutrals-light;
        margin-bottom: 2rem;
        @include border (border);
        width: 80%;
        @media (min-width: $desktop-bp) {
            max-width: 816px;
            top: 500px;
        }
        //ändra? förbättra? hur???
        right: 0; 
        left: 0;
        margin-left: auto;
        margin-right: auto;
        @include flexbox (column, center, center, nowrap);
        .infoContainer {
            display: flex;
            gap: $small-padding;
            padding: $x-small-padding;
            max-width: 300px;
            .iconContainer, .iconContainer2 {
                @include flexbox-5(column, center);
            }
        }
        .icon {
            display: inline-block;
            background-image: url("../img/timer.png");
            background-size: cover;
            width: 28px;
            height: 28px;
        }
        .icon2 {
            display: inline-block;
            background-image: url("../img/portions.png");
            background-size: cover;
            width: 28px;
            height: 28px;
        }
        h1 {
            padding: $x-small-padding;
            text-align: center;
        }
    }
   
    .steps-container {
        padding: $x-small-padding;
        
        @include border (border);
        width: 90%;
        margin: auto;
        margin-bottom: $small-padding;
        background-color: $neutrals-light;
        @media (min-width: $desktop-bp) {
            margin-right: $small-padding;
            padding: $small-padding;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 0;
            flex: 0 0 46%;
        }
        @media (min-width: 1220px) {
           
        }
        &.hidden-section {
            display: none;
        }
        h2 {
            background-color: $neutrals-light;
            font-size: $h3m;
            margin-bottom: $nano-small-padding;
            color: $neutrals-dark;
            margin-bottom: 1rem;
        }
        ul {
            li{
                list-style: none;
                
            }
        }
        ol{
            list-style: none;
            counter-reset: my-awesome-counter;
            li{
                counter-increment: my-awesome-counter;
                margin-bottom: 2rem;
                &.paragraph-text{
                    display: flex;
                   
                }
           
                
            }
            li::before {
                content: counter(my-awesome-counter);
                background: $secondary-color;
                width: 2rem;
                height: 2rem;
                font-size: 20px;
                border-radius: 50%;
                display: inline-block;
                line-height: 2rem;
                color: $neutrals-light;
                text-align: center;
                font-family: $primary-font;
                margin-right: 1rem;
                border: 1px solid $neutrals-dark;
                flex: 0 0 34px;
                @media (min-width: $desktop-bp){
                    font-size: 24px;
                    width: 2.5rem;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    flex: 0 0 39px;
                }
               
            }
         
        }
        
    }
    
}