@import 'variables';
 
 
.share_box {
  color: $neutrals-light;
  width: 50px;
  text-align: center;
  margin: 1rem;
  position: absolute;
  z-index: 998;

  .line {
    position: absolute;
    width: 1px;
    height: 220px;
    background: $neutrals-dark;
    left: 29px;
    top: 65px;
  }

  .share, a {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 30px;
    margin: 5px auto;
    cursor: pointer;
    position: relative;
    background: $neutrals-light url('img/share_box.svg') no-repeat;
    z-index: 500;
    line-height: 100;
    overflow: hidden;
  }

  .share {
    background: $neutrals-dark url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABfUlEQVRYR+2XQYoCMRBFJ268h95DG9w7zgFm5QEUD6CCWxe6F3RmL3oABb2BN9BjuGt/SdJkmk5SrRUEGaEQNN3/paryu1p9RP6kadqGRA+RICqIA2KslDqStIqpD/EF7t91aAwBMYkGoHe+0bt27TOJCbCDaiuQ4X1MgCvEq6ESvx8Aav+NXY8Q9dDu8f9aLAMlhQ3b803oEb5A5YToRDmGAWEymh8SxromvvqIT+07ZECjh42IK8yo/31J1gMFlkkmMjek0sIG8A4QsMwlljQKuppqnKWau+P8OsW0TPs6EeEsAwDgWCatFxW2AXiWiWZ4NM2+66gELwfgluCsm+5XMhOmCbf2kQwIiIKYYziF6MABsdLHsJYDEwGxjYgsk55iiQahrMxyRjTGb6IgpTtbO6IYSGkAUwYuSPSpOABCj+MvR1PLTsUeEN+hen4gyd+9JMj/VBzv1Yz5lJWbigt6gV5KQxYv34Q2CLLgs3jZY+g6a3oqti3+z1R8AxnkwcUTSGj0AAAAAElFTkSuQmCC) 12px center no-repeat;
  }

  a:nth-of-type(1) {
    background-position: -120px center;
  }

  a:nth-of-type(2) {
    background-position: -52px center;
  }

  a:nth-of-type(3) {
    background-position: 15px center;
  }

  .line {
    height: 0;
  }

  a {
    -webkit-transform: scale(0) translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.0001s linear, background 0.0001s ease;
  }

  // animation
  &:hover i {
    height: 190px;
    -webkit-transition: height 0.0001s linear;
    -webkit-transition-duration: 0.3s;
  }

  &:hover a {
    background-color: $neutrals-dark;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    -webkit-transition-delay: 0.1s, 0.0001s;
    -webkit-transition-duration: 0.3s, 0.4s;
  }

  &:hover a:nth-of-type(2) {
    -webkit-transition-delay: 0.2s, 0.0001s;
  }

  &:hover a:nth-of-type(3) {
    -webkit-transition-delay: 0.3s, 0.001s;
  }
}