
//general stylings for typography
.center {
    text-align: center;
}
.headline { //h1
    font-size: $h1m;
    font-weight: 700;
    margin-bottom: $x-small-padding;
    color: $neutrals-dark;
    line-height: 120%;
    max-width: 350px;
    text-align: left;
    @media (min-width: $tablet-bp){
        text-align: left;
    }
    @media (min-width: $desktop-bp){
        font-size: $h1d;
        max-width: 650px;
        line-height: 115%;
    }
    &.policy {
        max-width: 100%;
        text-align: left;
        margin-top: $x-small-padding;
        font-size: 1.5rem;
        @media (min-width: $desktop-bp){
            font-size: 2rem;
        }
    }
    &.about-us-h1 {
        max-width: 100%;
        text-align: left;
        margin-top: $x-small-padding;
    }
    &.policy {
        max-width: 100%;
        text-align: left;
        margin-top: $x-small-padding;
    }
    &.mb {
        margin-bottom: 2rem;
        @media (min-width: $desktop-bp) {
            margin-bottom: 3rem;
        }
    }
}
.mid-headline { //h2
    font-size: $h2m;
    font-weight: 500;
    line-height: 145%;
    @media (min-width: $desktop-bp){
        font-size: $h2d;
        line-height: 125%;
       
    }
    &.mb {
        margin-bottom: $x-small-padding;
        @media (min-width: $desktop-bp){
            margin-bottom: $small-padding;
        }
    }
    &.mt{
        
        @media (min-width: $desktop-bp){
            margin-top: $small-padding;
        }
    }
    &.ml {
        margin-left: $x-small-padding;
    }
    &.policy {
       font-size: 1.25rem;
       @media (min-width: $desktop-bp){
        font-size: 1.5rem;
    }
    }
}
.small-headline { //h3
    font-size: $h3m;
    font-weight: 500;
    line-height: 145%;
    
    @media (min-width: $desktop-bp){
        font-size: $h3d;
        font-weight: 500;
        line-height: 145%;
    }
    &.mb {
        margin-bottom: $x-small-padding;
    }
}
.card-headline {
    font-size: $h4m;
    line-height: 145%;
    @media (min-width: $desktop-bp) {
        font-size: $h4d;
        line-height: 145%;
    }
    &.mb {
        margin-bottom: $x-small-padding;

    }
}
.bad-script { //h5
    font-family: $script-font;
    font-size: $script-size;
    font-weight: 400;
    @media (min-width: $desktop-bp){
        font-size: $script-size-desktop;
    }
}
.paragraph-text { //Default paragraph text
    font-size: $p-text;
    line-height: 145%;
    font-family: 'Lato', sans-serif;
    max-width: 590px;
    margin-bottom: $nano-small-padding;
    @media (min-width: $desktop-bp) {
        font-size: $p-text-d;
        
    }
    &.center {
        text-align: center;
    }
    &.mb {
        margin-bottom: $small-padding;
    }
}
.logo{ //logo text, will be replaced with an actual logo
    font-size: 2rem;
    font-weight: 700;
}